{% extends 'base.html' %}
{% block page %} - login page{% endblock %}
{% block title %}{{super()}}{% endblock %}
{% block heading %}
  <h1>Please sign in</h1>
{% endblock %}
{% block content %}
  {% for message in get_flashed_messages() %}
    {{message}}
  {% endfor %}
  <form class="form-signin" role="form" action="" method="post">
    {{form.csrf_token}}
    <p>
      {{form.username(placeholder='username')}}
      <span class="error">
        {% if form.username.error %}
          {% for error in form.username.error %}
            {{error}}
          {% endfor %}
        {% endif %}
      </span>
    </p>
    <p>
      {{form.password(placeholder='password')}}
      <span class="error">
        {% if form.password.error %}
          {% for error in form.password.error %}
            {{error}}
          {% endfor %}
        {% endif %}
      </span>
    </p>
    <button type="submit" class="btn btn-sm btn-success">Sign in</button>
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
  {% endif %}
  <p>Click <a href="/register">here</a> to sign up.</p>
{% endblock %}
